# Blender backups
*.blend[0-9]*
*-blender.zip

# files that may not be distributed in their original form
3rd party/
_wip/
PackageSources/modellib/texture
PackageSources/modellib/edap-D-FOJN
PackageSources/modellib/edap-r44
PackageSources/modellib/*/assets/materials

# temporary files
/Output
/Temp
*~
.#*
_generated*

# raw input data (DEM, aerials)
/Sources
